.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;

  display: block;

  transform: scale(0.1);
  visibility: hidden;
  &__wrapper {
    width: 300px;
    height: 600px;

    background-color: #1b262f;
    text-align: center;
  }
  &__img {
    margin: 50px 10px 30px 200px;
  }
  &__list {
    display: flex;
    gap: 32px;
    padding-top: 20px;

    border-top: 1px solid #676868;
    flex-direction: column;
  }
  &__link {
    color: #fbfcfe;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.7;
    &:hover {
      color: #f8f5f5;
      transition: all 0.5s linear;
    }
  }
  &__btn {
    width: 260px;
    margin-top: 32px;
    @include Btn;
  }
  &__lists {
    position: absolute;
    right: 25px;
    z-index: 0;

    display: none;
    
    height: 45px;
    @include Btn;
    background: #6387a4;
    &:hover {
      background-color: #676868;
    }
  }
}

.open-modal {
  visibility: visible;
  transform: scale(1);
  transition: all 0.3s linear;
}

@media only screen and (max-width: 425px) {
  .modal {
    position: fixed;
    top: -15px;
    right: -15px;
    &__lists {
      display: block;
    }
  }
}
